.aboveAllStuff {
  font-family: Arial, sans-serif;
  justify-content: center;
  border-radius: 20px;
  width: 400px;
  margin-top: 70px;
  position: fixed;
  top: 20px;
  right: 0;
  margin-right: 10px;
}
.walletIcon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.wallet {
  height: 60px;
  width: 60px;
  border: 1px solid rgb(35, 150, 196);
  border-radius: 10px;
  padding: 3px;
}
.wallet:hover {
  background-color: rgb(35, 150, 196);
}

.wallet-open {
  height: 60px;
  width: 60px;
  border: 1px solid rgb(35, 150, 196);
  border-radius: 10px;
  padding: 3px;
  background-color: rgb(35, 150, 196);
}

.allStuff-wrapper {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aaa #eee;
  max-height: 475px;
  max-width: 500px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.allStuff-wrapper::-webkit-scrollbar {
  width: 5px;
}

.allStuff-wrapper::-webkit-scrollbar-track {
  background: #000000;
}

.allStuff-wrapper::-webkit-scrollbar-thumb {
  background-color: #1da3fc;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.scrollable-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-y: auto;
  max-height: 400px;
}

.youCoin-wrapper {
  width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.yourCoin-wrapper {
  display: flex;
  align-items: center;
}

.nameSim-wrapper {
  display: flex;
  align-items: center;
  width: 110px;
}

.pElement {
  margin: 0;
  font-size: 16px;
}

.equal {
  margin: 0 10px;
  font-size: 20px;
  color: #777;
}

.valueEl {
  display: flex;
  flex-direction: column;
}

.valueEl p {
  margin: 0;
  font-size: 18px;
}

.valueEl p:first-of-type {
  font-weight: bold;
  color: #555;
}

.valueEl p:last-of-type {
  color: #999;
  font-size: 14px;
}

.cryptoicon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Add additional styles as needed */
